html,
body,
main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif'
}

* {
    box-sizing: border-box;
}

button {
    border: 0;
    border-bottom: 1px solid #88888863;
    font-size: 1.5rem;
    color: #f6f6f6;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator {
    flex-direction: column;
    width: 261px;
    background-color: #29363b;
    
    .display {
        padding: 30px;
        min-height: 180px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    
    .calculation {
        color: #7b8386;
        font-size: 1.5rem;
        display: flex;
    }
    
    .calculation__text {
        padding: 0 5px;
    }
    
    .answer {
        color: #f6f6f6;
        font-size: 3rem;
    }
    
    .pad {
        background-color: #f6827a;
    }
    
    .pad__reset-buttons {
        background-color: #ec475c;
        text-transform: uppercase;
        flex-grow: 1;
        height: 66px;
    }
    
    .pad__reset-buttons:active {
        background-color: #d43f52;
    }
    
    .pad__numbers {
        flex-wrap: wrap;
    }
    
    .pad__number {
        width: 33.3%;
        background-color: #f6827a;
        height: 66px;
    }

    .pad__number:active {
        background-color: #d4716a;
    }
    
    .pad__number-zero {
        width: 66.7%;
        text-align: left;
        padding-left: 24px;
    }
    
    .pad__operations {
        flex-wrap: wrap;
    }
    
    .pad__operand,
    .pad__equal {
        width: 100%;
        height: 66px;
        background-color: #f7ba86;
    }
    
    .pad__operand:active,
    .pad__equal:active {
        background-color: #e5ab79;
    }
}