html,
body,
main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.csvTable__head {
    padding: 5px;
    background-color: #333;
    color: #f6f6f6;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: left;
}

.csvTable__cell {
    padding: 5px;
    background-color: #efefef;
}